
.header {
  color: black;
  display: flex;
  justify-content: center;
}

.gitSearchDiv {
  display: flex;
  justify-content: center;
}


.langCheckBoxes,
.starsContainer {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.checkBoxes {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.langCheck,
.starbox {
  margin-right: 1rem;
}

.listResults {
  border-radius: 4px;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
  width: 25rem;
  padding: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  display: flex
}


.searchList {
  display: flex;
  align-items: center;
  justify-content: center;
}
